material-content.material-content-padding.about-content
  h2 鄉民 Geocode
  p 把頭開票所標在 OpenStreetMap 上
  h3 資料來源
  a(href="https://github.com/g0v/cec/tree/master/2014/booth") 各縣市選舉委員會

  h3 Geocoding
  p
    | Geocoding is powered by
    a(href="http://wiki.openstreetmap.org/wiki/Nominatim") Nominatim
