md-sidenav.md-whiteframe-z3(layout="vertical")
  md-toolbar.md-theme-light
    .md-toolbar-tools
      {{ county | countyName }}
      span(flex)
      md-button.md-theme-light-blue(ng-click='prevList()') «
      md-button.md-theme-light-blue(ng-click='nextList()') »
  md-content(flex)
    md-item(ng-repeat="booth in booths")
      md-button.md-tile-content(layout-fill, ui-sref="{ county: booth.county, seq: booth.seq }") {{ booth.id }} {{ booth.town }} {{ booth.village }}

md-content(layou="vertical", layout-fill, flex)
  md-toolbar.md-theme-dark
    .md-toolbar-tools
      {{ data.town }}/{{ data.village }}
      span(flex)
      md-button.md-theme-light-blue(ng-click='random()',layout-align='end') Next

  md-toolbar
    .md-toolbar-tools
      span {{ data.id }}
      span(flex)
      md-button(ng-click='search(1)') Search
      md-button.md-theme-blue(ng-click='save()') Save

  md-content.md-content-padding(flex, style="display: block;")
    p(ng-if="data.phone") phone {{data.phone}}

    md-text-float(label="Place Name", ng-model="osmdata.place_name")
    md-text-float(label="Remark",     ng-model="osmdata.place_remark")
    md-text-float(label="Street",     ng-model="osmdata.address")
    md-text-float(label="Number",     ng-model="osmdata.house_number")

    md-content
      div(ng-if="osmdata.searchResults && osmdata.searchResults.length == 0") No Search Results
      md-listing
        md-item(ng-repeat="entry in osmdata.searchResults | filter: searchResultsFilter")
          md-item-content
            i.circular.icon.zoom.in(ng-click="look(entry)")
            i.circular.icon.checkmark(ng-click="match(entry)",ng-class="{ teal: data.osm_id == entry.osm_id }")
            span [{{entry.osm_id}}] {{entry.display_name}}

leaflet.md-whiteframe-z3(defaults="defaults", center="center", width="40%", height="100%")
