div(layout-fill, flex)
  material-toolbar.material-theme-dark
    .material-toolbar-tools {{ countyName }}/{{data.town}}/{{ data.village }} 投開票所
      material-button.material-theme-light-blue(ng-click='random()',layout-align='end') Next

  div(style="margin: 16px;")
    h3 {{ data.id }}

    p(ng-if="data.phone") phone {{data.phone}}

    material-input-group
      label Place Name
      section(layout="horizontal")
        material-input(type="text", ng-model="osmdata.place_name")

      label Address
      section(layout="horizontal")
        material-input(type="text", ng-model="osmdata.address")

      label Remark
      material-input(type="text", ng-model="osmdata.place_remark")

    div(style="margin-top: 30px; padding-top: 10px; border-top: 1px solid #ccc;")
      material-button.material-theme-blue(ng-click='save()') Save
      material-button(ng-click='search(1)') Search

    div(ng-if="osmdata")
      p {{ osmdata.addressResults[0].lat }}
      p {{ osmdata.addressResults[0].lon }}
      p {{ osmdata.addressResults[0].display_name }}

    material-content.material-content-padding
      div(ng-if="osmdata.searchResults && osmdata.searchResults.length == 0") No Search Results
      material-listing
        material-item(ng-repeat="entry in osmdata.searchResults")
          material-item-content
            i.circular.icon.zoom.in(ng-click="look(entry)")
            i.circular.icon.edit(ng-click="edit(entry)")
            i.circular.icon.checkmark(ng-click="match(entry)",ng-class="{ teal: data.osm_id == entry.osm_id }")
            span [{{entry.osm_id}}] {{entry.display_name}}
          material-divider(ng-if="!$last")

leaflet.material-whiteframe-z3(defaults="defaults", center="center", width="800px", height="100%")
