md-content(layou="vertical", layout-fill, flex)
  md-toolbar.md-theme-dark
    .md-toolbar-tools
      {{ countyName }}/{{data.town}}/{{ data.village }} 投開票所
      span(flex)
      md-button.md-theme-light-blue(ng-click='random()',layout-align='end') Next

  md-toolbar
    .md-toolbar-tools
      span {{ data.id }}
      span(flex)
      md-button(ng-click='search(1)') Search
      md-button.md-theme-blue(ng-click='save()') Save

  md-content.md-content-padding(flex, style="display: block;")
    p(ng-if="data.phone") phone {{data.phone}}

    md-input-group
      label Place Name
      md-input(type="text", style="width: 100%;", ng-model="osmdata.place_name")

      label Remark
      md-input(type="text", style="width: 100%;", ng-model="osmdata.place_remark")

      label Street
      md-input(type="text", style="width: 100%;", ng-model="osmdata.address")

      label Number
      md-input(type="text", style="width: 100%;", ng-model="osmdata.house_number")

      div(ng-if="osmdata.searchResults && osmdata.searchResults.length == 0") No Search Results
      md-listing
        md-item(ng-repeat="entry in osmdata.searchResults | filter: searchResultsFilter")
          md-item-content
            i.circular.icon.zoom.in(ng-click="look(entry)")
            i.circular.icon.checkmark(ng-click="match(entry)",ng-class="{ teal: data.osm_id == entry.osm_id }")
            span [{{entry.osm_id}}] {{entry.display_name}}

leaflet.md-whiteframe-z3(defaults="defaults", center="center", width="40%", height="100%")
